.transaction-container {
  color: #1d1814;
}
.transaction-title {
  padding: 1%;
  font-size: 28px;
  font-weight: 400;
}
.transaction-list {
  position: relative;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
}
.transaction-item {
  padding: 4% 2%;
  border-bottom: 1px solid #ccc;
  text-transform: capitalize;
}
.transaction-edit, .transaction-delete {
  margin-right: 2px;
  font-size: 12px;
  padding: 1px 4px;
  color: #1d1814;
  background-color: yellow;
  border: 1px solid #1d1814;
  border-radius: 4px;
  cursor: pointer;
}
.transaction-delete {
  background-color: orange;
}
.modal-edit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.t-amount {
  font-size: 32px;
}
.credited {
  color: #80ed00;
}
.debited {
  color: #ff0329;
}

@media (max-width: 768px) {
  .transaction-list {
    grid-template-columns: 1fr;
  }
  .transaction-item {
    border-right: 0;
  }
}
